.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header img {
    cursor: pointer;
}

.nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.nav__item button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 47px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border: 1px solid #fff;
    transition: .4s ease-in-out;
}

.nav__item button:hover {
    background: #ddd;
}